# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store

# Data
data/raw/image/train/
data/raw/image/val/
data/raw/image/test/